.DS_store
.DS_Store
.idea
static/videos/felt_video.mp4
static/videos/cup_stacking/iphone_sim_tactile_offset_5p916.mp4
static/videos/tube_orientation_insertion/iphone_sim_tactile_offset_6p549.mp4
static/videos/word_erasing/iphone_sim_tactile_offset_13p099.mp4
static/videos/triangle_insertion/iphone_sim_tactile_offset_6p358.mp4
